@model ShopM4.Models.ViewModels.DetailsViewModel

<form method="post" asp-action="DetailsPost">
    <p>
        <input formaction="Product.Id" hidden/>
    </p>

    <p>
        <h2>@Model.Product.Name</h2>
        <h2>@Model.Product.Price</h2>
    </p>

    <p>
        <img src="@PathManager.ImageProductPath@Model.Product.Image" width="200" />
    </p>


    <p>
        <h3>@Model.Product.Category.Name</h3>
    </p>

    <p>
        @Html.Raw(Model.Product.Description)
    </p>

    <p>
        if (!Model.IsEmpty)
        {
        <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning">
            Remove from cart
        </a>
        }
        else
        {
            <button type="submit" asp-route-id="@Model.Product.Id" asp-action="DetailsPost" class="btn btn-primary"> Add to cart </button>
        }
        <a class="btn btn-primary" asp-action="Index"> Back </a>
    </p>
</form>